<nav class="h-12 sm:h-20 bg-secondary">
    <div class="flex h-full ml-3 sm:ml-0">
        <a href="https://villa-adastra.business.site/" class="my-auto">
            <img src="../../assets/img/adastra-logo-light.png" alt="logo" class="h-[24px] w-auto ml-10 min-[350px]:h-[32px] sm:h-[48px]">
        </a>

        <div class="my-auto w-full flex justify-end pr-10">
            <i class="fa-solid fa-globe fa-xl text-white my-auto dark:text-tertiary"></i>
            <i class="fa-solid fa-moon text-white fa-xl my-auto pl-5 hover:cursor-pointer dark:text-tertiary" (click)="changeTheme()"></i>
        </div>
    </div>
</nav>